# Aide à la navigation
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio / IntelliJ
*.iml
*.ipr
*.iws

# Compilation et sorties
bin/
gen/
out/
app/build/

# Fichiers logs
*.log

# Secrets (TRÈS IMPORTANT)
google-services.json

# Divers
Thumbs.db